@media screen and (min-width: 600px)
{
	body{
		margin: 0 auto;
	}
	#contenido{
		width: 57%;
		margin: 0 auto;
	}
	#contenido .noticia .not-centro{
		width: 61%;
		margin: 0px 2em 0px 0px;
	}
	#asideiz{
		width: 20%;
		height: 800px;
		background: white;
		float:left;
	}
	#asideder{
		width: 20%;
		height: 800px;
		background: blue;
		float: right;
	}
header #slider
{
	height: 300px;
	width: 100%;
	background: white;
	padding: 0;
	margin: 0;
}

}